# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
android/captures/
android/.externalNativeBuild/
android/.cxx/
*.apk
*.aab
*.keystore
!android/debug.keystore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
